@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Jost;
  text-decoration: none;
}

.gradient-feed {
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  )}

.text-secondary::marker{
  color: #f49f85;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: white !important; 
  background-color:#4661E6!important;
}

nav {
  background-color: #3a4374;
}

select {
  background-color: #3a4374;
}


.add-feed > button, .add-feedback > button{
  background-color: #a337f6!important;
}
.add-feed > button:hover, .add-feedback > button:hover{
  background-color: #b555ff!important;
}

.btn:hover{
  background-color: #d5dbff!important;
}

h2, h3, h5 {
  color: #3a4374;
}

.counter-btn,.text-feed-box button{
  border-radius: 8px!important;
  background-color: #f2f4ff;
}

.feedback-count :hover, .text-feed button:hover{
  background-color: #c4cdff!important;
}

.add-new-feedback, .boxes, .roadmap-box, .gradient-feed, nav{
  box-shadow: #f2f4ff 0px 3px 8px;
}


.menu{
  display: none;
}

label{
  font-size: 2px;
}

 @media (max-width: 768px) {
  .mt-5{
    margin-top: unset!important;
  }

  .mb-4{
    margin-bottom: unset!important;
  }
  .pt-5{
    padding-top: unset!important;
  }

  .rounded-3{
    border-radius: 0!important;
  }

  .row>*{
    padding-left: unset!important;
    padding-right: unset!important;
  }

  .feed-empty {
    padding: 20px;
    border-radius: 8px;
  }

  .icon, .suggest{
    display: none;
  }

  .main-bar {
    position: absolute;
    top: 120px;
    right: 30px;
    z-index: 2;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    >.boxes{
      border-radius: 8px!important;
      margin: 30px 20px!important;
    }
  } 
  
  .roadmap-box {
    top: 290px;
    right: 30px;
    border-radius: 8px!important;
    margin: 30px 20px!important;
  }
  #menu__toggle:checked + .all-box{
    display: flex;
  }
  
  .gradient-feed {
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    border-radius: unset;
  } 
  nav,
  .sug-sort-box {
    padding-top: 20px;
    z-index: -1;
    width: 100%;
    border-radius: unset;
  }

  .menu{
    display: block;
  }
  .content{
    z-index: 1;
  }

  .hamburger-menu{
    position: fixed;
    z-index: 3;
    margin-left: 300px;
    margin-top: -65px;
  }

  .hamburger-menu input{
    display: none;
  }

  .feedbacks{
    padding: 0 20px;
  }

  .add-new-feedback{
    border-radius: 12px!important;
    display: block!important;
    > .feedback-count button{
      margin-left: 15px;
      border-radius: 12px!important;
      padding: 0 25px!important;
      margin-top: 15px!important;
    }
  }

  .add-feedback button, .add-feed button{
    border-radius: 8px!important;
  }

  .hamburger-menu > input{
    width: 30px;
  }

  .menu__btn {
  cursor: pointer;
  display: inline-block;
  margin-top: 18px;
  margin-left: 30px;
  position: relative;
  padding: 0;
}

.menu__icon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.5s ease-out;
  width: 20px;
}

.menu__icon:before,
.menu__icon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease-out;
  width: 100%;
}

.menu__icon:before {
  top: -6px;
}

.menu__icon:after {
  bottom: -6px;
}

.main-bar {
  
  display: none;
  position: fixed;
  top: 90px;
  right: 0;
  height: 100vh;
  width: 330px;
  background-color: white;
  transition: right 0.5s ease-in-out;
  z-index: 2;
}
} 
